{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<form action="{{ url_for('add_article') }}" method="post" class="add-article">
			<div>
				Title:<br>
				<input type="text" name="title" size="30"><br>
				Text:<br>
				<textarea name="text" rows="5" cols="40"></textarea><br>
				<input type="submit" value="Publish">
			</div>
		</form>
	{% endif %}

	<ul class="articles">
	{% for article in articles %}
		<li><h2>{{ article.title }}</h2>{{ article.text|safe }}</li>
	{% else %}
		<li><em>No articles yet.</em></li>
	{% endfor %}
	</ul>
{% endblock %}

{% block extra %}
<p>This is our own show_entries stuff.</p>
{{ super }}
<p>This is some more show_entries stuff.</p>
{% endblock %}
